body {
  margin: 0; 
     }

a{
  color: #000000;	 
	 }

#content {
  background: linear-gradient(216deg, #ff8a40, #fd5068, #dc4588);
  height: 600px; 
        }

#footer{
  color: #ffffff;
       }
div.title {
  color: #fd5068; 
  display: inline-block;
  line-height: 0.5;
  margin-left: 20px;
       }
div.subtitle{
  color: #000000;
  display: inline-block;
  line-height: 0.5;
  margin-left: 20px;
        }
img.logo {
  padding: 5%;
  height: 6%; 
  width: 6%; 
         }
img.store {
  padding: 1%;
  height: 4%; 
  width: 10%; 
         } 
		 

